.THIS .openUp {
    position: absolute;
    right: 0;
    transform: translateY(-105%);
}
.THIS .openDown {
    position: absolute;
    top: 100%;
    transform: translateX(0%);
}
.THIS.popover{
    z-index:2;
}
.THIS .backgroundDiv{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.THIS .size{
    height: 150px;
    width: 150px;
}
.THIS.dropdown a span,
.THIS.dropdown a {
    display: block;
    font-size: 12px;
    color: #16325c;
    text-decoration: none;
    line-height: 22px; 
    padding: 0 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS.dropdown a:hover {
    background-color: rgb(244, 246, 249);
    color: rgb(22, 50, 92);
}
.THIS.dropdown .contentPadding {
    padding: 0;
}
.THIS.dropdown .contentPadding a,
.THIS.dropdown .contentPadding ul li {
    padding: 0 5px;
    cursor: pointer;
    font-size: 12px;
}
.THIS.dropdown .contentPadding ul {
    padding: 5px 0;
}
.THIS.dropdown .contentPadding ul li { 
	padding: 2px 10px;
}
.THIS .slds-popover__body::-webkit-scrollbar {
    width: 5px; 
}
.THIS .slds-popover__body::-webkit-scrollbar-track {
    background-color: transparent; 
}
.THIS .slds-popover__body::-webkit-scrollbar-thumb {
    background-color: #ccd5e4 ;
    border-radius: 5px; 
}
.THIS .slds-popover__body::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa ; 
}
.THIS.dropdown .contentPadding a.active,
.THIS.dropdown .contentPadding ul li a.active {
    background-color: rgb(244, 246, 249);
    color: rgb(22, 50, 92);
}
@media screen and (max-width: 767px) {
    .THIS.dropdown a span {
        font-size: 12px;
    }
}